p {
  margin: 0;
}

body {
  padding: 100px 50px;
  background-color: lightblue;
}

.game-header {
  height: 100px;
  background-color: lightgray;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}



.game {
  width: 800px;
  height: 800px;
  background-color: lightpink;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hands-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: stretch;
}

.hand {
  background-color: lightgreen;
}

.hand-title {
  text-align: center;
}

.holding-cards {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 2px;
  height: 50px;
}

.card {
  margin: 0px 5px;
  padding: 2px;
}

.played-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}



